services:
  - type: web
    name: curry-stardom
    env: node
    buildCommand: npm run build
    startCommand: npm run preview
    envVars:
      - key: NODE_VERSION
        value: 20.17.0
    autoDeploy: true
    staticPublishPath: ./dist
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff